.comment-wrapper {
    background-color: #e9ecef;
    margin-bottom: 15px;
    border-radius: 0.25rem;
}

.info p {
    margin-top: 10px;
    margin-bottom: 10px;
}



.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}
.waves-light{
  background-color: rgba(255, 255, 255, 0.45);
}


.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
 
}
.center-align {
  text-align: center;
}

.login-btn-theme {
    border: 1px solid indigo;
    border-radius: 20px;
    min-width: 100px;
}
.indigo-text {
  color: #3f51b5 !important;
}


